{% comment %}
Parameters:
- list: List of items to iterate through
- ref: Reference value the items must match
- cmp-key: Attribute of an item that must match the ref
- name-key: Attribute of the item name
- datapage-folder: Name of the datapage folder of the item
{% endcomment %}

<ul class="related-list">
  {% assign up-ref = include.ref | upcase %}
  {% for item in include.list %}
    {% assign up-cmp = item[include.cmp-key] | upcase %}
    {% if up-ref == up-cmp %}
      <li class="post related">
        <a href="{{ item.[include.name-key] | datapage_url: include.datapage-folder | absolute_url}}">
          <div class="flex">
            <div class="content-wrap">
              <h3 class="post__title">{{ item.[include.name-key] }}</h3>
              <span class="date post__subtitle">
                {% include date.html start-date=item.start-date end-date=item.end-date %}
              </span>
              <p class="description post__description">
                {{ item.description }}
              </p>
            </div>
            {% if item.cover-img %}
              <div class="image-wrap">
                <div
                  class="image"
                  style="background-image: url({{ item.cover-img  | absolute_url }});"
                  data-img-src="{{ item.cover-img | absolute_url }}"
                  alt="Thumbnail"></div>
              </div>
            {% endif %}
          </div>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>