---
layout: mypost
---

{% if page.city or page.country %}
  <p>
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-map-marker fa-stack-1x"></i>
    </span>
    {% if page.city %}
      {{ page.city }}{% if page.country %},{% endif %}
    {% endif %}
    {% if page.country %}
      {{ page.country }}
    {% endif %}
  </p>
{% endif %}

<p>{{ page.description }}</p>

<ul class="related-list">
  {% assign tmp-name = page.title | upcase %}
  {% for job in site.data.me.work.jobs %}
    {% assign cmp-name = job.company | upcase %}
    {% if tmp-name == cmp-name %}
      <li class="post related">
        <a href="{{ job.name | datapage_url: 'job' | absolute_url}}">
          <h3 class="post__title">{{ job.name }}</h3>
          <span class="date post__subtitle">
            {% if job.end-date %}
              From {{ job.start-date | date: "%B %-d, %Y" }} to {{ job.end-date | date: "%B %-d, %Y" }}
            {% else %}
              Started on {{ job.start-date | date: "%B %-d, %Y" }}
            {% endif %}
          </span>
          <p class="related-description post__description">
            {{ job.description }}
          </p>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% if page.weblink %}
  <p>
    <a class="button button--large" href="{{ page.weblink | absolute_url }}">Official website</a>
  </p>
{% endif %}