---
layout: mypost
---

{% if page.city or page.country %}
  <p>
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-map-marker fa-stack-1x"></i>
    </span>
    {% if page.city %}
      {{ page.city }}{% if page.country %},{% endif %}
    {% endif %}
    {% if page.country %}
      {{ page.country }}
    {% endif %}
  </p>
{% endif %}

<p>{{ page.description }}</p>


<h3>{{ site.data.texts.related }}</h3>

{% include related-list.html
 list=site.data.me.work.jobs
 ref=page.title
 cmp-key = "company"
 name-key = "name"
 datapage-folder = "job" %}

{% include related-list.html
 list=site.data.me.projects
 ref=page.title
 cmp-key = "school"
 name-key = "title"
 datapage-folder = "project" %}

{% if page.weblink %}
  <p>
    <a class="button button--large" href="{{ page.weblink | absolute_url }}">{{ site.data.texts.official-website }}</a>
  </p>
{% endif %}