---
layout: home
css:
- "/assets/css/theme.css"
- "/assets/css/index.css"
---

<div class="post-list wrap">
  {% for project in site.data.me.projects %}
    <article class="post {% if forloop.index > 3 %}view-more{% endif %}">
      <a href="{{ project.title | datapage_url: 'project' }}">
        {% if project.cover-img %}
          <div class="post__image-wrap">
            <div
              class="post__image"
              style="background-image: url({{ project.cover-img  | absolute_url }});"
              data-img-src="{{ project.cover-img | absolute_url }}"
              alt="Project thumbnail"></div>
          </div>
        {% endif %}
        <div class="post__content-wrap">
          <div class="post__content">
            <h2 class="post__title">{{ project.title }}</h2>
            {% if project.subtitle %}
              <span class="post__subtitle">
                {{ project.subtitle }}
              </span>
            {% endif %}

            {% if project.start-date %}
              <span class="date post-meta post__subtitle">
                {% if project.subtitle %}
                  ·
                {% endif %}
                {% include date.html start-date=project.start-date end-date=project.end-date %}
              </span>
            {% endif %}

            <p class="post__description">
              {{ project.description | xml_escape }}
            </p>

            {% if project.skills %}
              <div class="chips-inline skills">
                {% for skill in project.skills %}
                  <span class="chip">{{ skill }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
  <button class="view-more-button button">View more projects</button>
</div>

<h2>Jobs</h2>

<ul class="related-list">
  {% for job in site.data.me.work.jobs %}
    <li class="post related">
      <a href="{{ job.name | datapage_url: 'job' | absolute_url}}">
        <div class="flex">
          <div class="content-wrap">
            <h3 class="post__title">{{ job.name }}{% if job.company %}
                at {{ job.company }}{% endif %}
            </h3>
            <span class="date post__subtitle">
              {% include date.html start-date=job.start-date end-date=job.end-date %}
            </span>
            <p class="description post__description">
              {{ job.description | xml_escape }}
            </p>
          </div>
          {% if job.cover-img %}
            {% assign job-cover-img = job.cover-img %}
          {% elsif job.company %}
            {% assign tmp-company-name = job.company | upcase %}
            {% for some-company in site.data.me.work.companies %}
              {% assign cmp-company-name = some-company.name | upcase %}
              {% if tmp-company-name == cmp-company-name %}
                {% assign company = some-company %}
              {% endif %}
            {% endfor %}
            {% if company and company.cover-img %}
              {% assign job-cover-img = company.cover-img %}
            {% endif %}
          {% endif %}
          {% if job-cover-img %}
            <div class="image-wrap">
              <div
                class="image"
                style="background-image: url({{ job-cover-img  | absolute_url }});"
                data-img-src="{{ job-cover-img | absolute_url }}"
                alt="Job Thumbnail"></div>
            </div>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

<h2>Education</h2>

<ul class="related-list">
  {% for school in site.data.me.education.schools %}
    <li class="post related">
      <a href="{{ school.name | datapage_url: 'school' | absolute_url}}">
        <div class="flex">
          <div class="content-wrap">
            <h3 class="post__title">{{ school.name }}</h3>
            {% if school.subtitle %}
              <span class="post__subtitle">
                {{ school.subtitle }} ·
              </span>
            {% endif %}
            <span class="date post__subtitle">
              {% include date.html start-date=school.start-date end-date=school.end-date %}
            </span>
            <p class="description post__description">
              {{ school.description | xml_escape}}
            </p>
          </div>
          {% if school.cover-img %}
            <div class="image-wrap">
              <div
                class="image"
                style="background-image: url({{ school.cover-img  | absolute_url }});"
                data-img-src="{{ school.cover-img | absolute_url }}"
                alt="School Thumbnail"></div>
            </div>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>