---
layout: mypost
---

{% if page.company %}
  {% assign tmp-company-name-up = page.company | upcase %}
  {% for some-company in site.data.me.work.companies %}
    {% assign tmp-name-up = some-company.name | upcase %}
    {% if tmp-name-up == tmp-company-name-up %}
      {% assign company = some-company %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if company %}
  <p>
    Job at
    <a href="{{ company.name | datapage_url: 'company' | absolute_url }}">{{ company.name }}</a>
  </p>
{% endif %}

<p>{{ page.description }}</p>

<h3>Related</h3>

<div>
  <ul class="related-list">
    {% assign tmp-job-name = page.title | upcase %}
    {% for project in site.data.me.projects %}
      {% assign cmp-job-name = project.job | upcase %}
      {% if tmp-job-name == cmp-job-name %}
        <li class="post related">
          <a href="{{ project.title | datapage_url: 'project' | absolute_url}}">
            <h3 class="post__title">{{ project.title }}</h3>
            <span class="date post__subtitle">
              {% if project.end-date %}
                From {{ project.start-date | date: "%B %-d, %Y" }} to {{ project.end-date | date: "%B %-d, %Y" }}
              {% else %}
                Started on {{ project.start-date | date: "%B %-d, %Y" }}
              {% endif %}
            </span>
            <p class="related-description post__description">
              {{ project.description }}
            </p>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>