---
layout: post
css:
- "/assets/css/theme.css"
- "/assets/css/index.css"
---

<p>{{ page.description }}</p>

{% if page.skills %}
  <div class="skills chips">
    {% for skill in page.skills %}
      <span class="chip">{{ skill }}</span>
    {% endfor %}
  </div>
{% endif %}

<p>
  {% if page.weblink %}
    <a class="button button--large" href="{{ page.weblink | absolute_url }}">View it online</a>
  {% endif %}
  {% if page.source-code %}
    <a class="button button--large" href="{{ page.source-code | absolute_url }}">Source code</a>
  {% endif %}
</p>