/* ***** Custom styles ***** */

.post__description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #6c7a89;
}

.post__title {
    margin-bottom: 5px;
}

.post:hover .post__title {
    color: #3498db;
}

.post span {
    font-weight: 400;
}

.post.view-more {
    display: none;
}

li.related,
li.post {
    list-style-type: none;
    float: none;
}

.related-list a {
    text-decoration: none;
}

.related-list .post__description {
    -webkit-line-clamp: 2;
}

.related-list .related {
    background-color: inherit;
    margin: 0.7em;
    border-left: solid;
    border-width: 5px;
    padding-left: 2em;
    padding-right: 0.5em;
}

.related-list .related:hover {
    border-color: #3498db;
}

.related-list .related * {
    margin: 0px;
}

.related-list .related:last-child {
    margin-bottom: 1.5em;
}

.related-list .content-wrap {
    flex: 3;
    margin-right: 4px;
}

.related .image-wrap {
    flex: 1;
    overflow: hidden;
}

.related .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    -moz-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    -ms-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    -o-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    transition: all 1s cubic-bezier(.2, .3, 0, 1)
}

.related:hover .image {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.chip {
    color: rgb(64, 64, 64);
    display: inline-block;
    background-color: rgb(237, 237, 241);
    padding: 4px 12px;
    margin: 1px;
    font-size: 1em;
    font-weight: 500;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
}

.chips-inline {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px;
}

.related .chip {
    font-size: 0.7em;
}

.chips {
    margin-top: 15px;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.view-more-button {
    margin-top: 1em;
}

.search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    border-radius: 4px;
    border: none;
    margin: 0px;
}

.search-bar input {
    width: 30%;
    margin: 0px 35%;
    height: 100%;
    outline: none;
    border: rgba(20, 20, 20, 0.5) solid 1px;
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 48%;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);

    -webkit-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    -moz-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    -ms-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    -o-transition: all 1s cubic-bezier(.2, .3, 0, 1);
    transition: all 1s cubic-bezier(.2, .3, 0, 1)
}

.search-bar input:hover,
.search-bar input:focus,
.search-bar input:focus-visible,
.search-bar input:active {
    width: 60%;
    margin: 0px 20%;
}

.search-bar input::placeholder {
    color: rgb(20, 20, 20);
}

/* ***** Overringing styles from beautiful jekyll ***** */

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Nav bar */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    font-weight: 700;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    border: none;
}

/* Heading */
.post-heading h1,
.page-heading h1,
.post-heading h2,
.page-heading h2 {
    color: white;
    text-shadow: none;
}

.post-heading span,
.page-heading span {
    text-shadow: none;
}

.post-heading hr,
.page-heading hr {
    display: none;
}

.intro-header.big-img {
    margin-bottom: 0px;
}

/* Placing */
.post-list {
    margin-top: -60px;
    text-align: center;
    margin-bottom: 1em;
    overflow: auto;
}

.post-list a,
.post-list article {
    text-align: left;
}

@media only screen and (min-width:768px) {
    body>.container-md {
        padding: 0;
        max-width: 680px
    }
}

@media only screen and (min-width:1024px) {
    body>.container-md {
        max-width: 900px
    }
}

@media only screen and (min-width:1220px) {
    body>.container-md {
        max-width: 1100px
    }
}

.row .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1 {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    flex: 1;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    background-color: inherit;
    border: none;
}

footer a {
    color: #6c7a89;
}

header .footer-links {
    margin-top: 2em;
}

.list-inline-item,
.list-inline-item:not(:last-child) {
    margin: 0;
}

/* Post page */
article.blog-post {
    margin: -60px;
    margin-bottom: 60px;
    padding: 40px 60px;
    background: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .1);
}