.post-preview .post-title {
    font-size: 1.5em;
}

.post-preview .post-description {
    margin: 0;
    margin-bottom: 0.625rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chip {
    display: inline-block;
    border-radius: 0.75em;
    height: 1.5em;
    background-color: lightgray;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 1px;
    font-size: 1rem;
    font-weight: lighter;
}

.chips-inline {
    overflow: hidden;
    white-space: nowrap;
}